body {
  margin: 0;
padding: 0%;
font-family: 'Tajawal', sans-serif;
background-color: #fff!important;

}

html
{
  scroll-behavior: smooth;
}

:root{
  --main-color:#1f2278;
  --orange-color:#f17732;
  --btn-color: #565acf;
  



}



section,footer , header{
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 25px 0px;
  margin-top: 50px;

}

a{
  text-decoration: none !important ;
}


span{
  display: block;
}

ul{
  margin: 0%;
  padding: 0%;
}

li{

  list-style-type: none;
}

button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 40px;
}

p{
  line-height: 28px;
}
input{
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: left;
  padding: 5px 15px;
  color: #333;
  font-size: 16px;
  font-family: 'tajwal';


}
/* footer */

footer img.footerlogo{
width: auto !important;
height: 40px;
margin: 15px 0px;

}
Footer p{
font-size: 17px;
color: #060735;
font-style: italic;
word-spacing: normal;
}
Footer .footer-contact{
  margin-bottom: auto;


}

Footer .footer-contact .footer-icon{
margin:10px 20px 0px 0px !important;
width: 40PX !important;
height: 40px !important;
background-color: rgb(0, 0, 0) !important;
line-height: 40px !important;
border: 1px solid var(--orange-color)!important;
box-sizing: border-box !important;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;



}
Footer .footer-contact .footer-icon svg{
color: #fff!important;
text-align: center !important;
padding-left: 10px !important;

}
Footer .footer-text h6{
  color: var(--orange-color)!important;
  font-size: 25px !important;
  font-style: italic;
}
Footer .footer-text h4{
  color: var(--main-color)!important;
  font-size: 25px !important;
  margin-top: 10px !important;
  font-style: oblique;
}
Footer h2{
  color: var(--main-color);
  font-size: 30px;
  margin: 15px 0px;

}

footer ul{
  margin-top: 17px;

}
footer ul li{
  margin-top: 10px;
}
footer ul li a{
  color: #333;
  font-size: 16px;
  letter-spacing: 1px;

}
footer form{
  margin: 15px 0px;

}
footer form input{
  border: 1px solid #ccc;
  margin:  10px 0px;
  width: 100%;
}
footer form button{
width: 100%;
background-color: #f17732 !important;
border: 1px solid var(--orange-color )!important;
color :#fff ;

}
footer Ul.social li{
display: inline-block;
margin-right: 20px;

}
Footer .footer-bottom{
  text-align: center !important;
  margin-top: 25px;
  padding: 10px 0px;
  border-top:1px solid var #ccc ;

}
Footer .footer-bottom span{
  display: block;
 
}