





.pagination-bx .pagination {
    margin: 0;
    width: 100%;
}

.pagination {
    padding: 10px 0;
    display: block;
   
    padding-left: 0;
    list-style: none;
}
.pagination li {
    display: inline-block;
    padding: 0 4px;
   
}

.pagination>li>a {
    background-color: #fff;
    color: #565acf;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 14px;
    min-width: 40px;
    line-height: 1;
    display: block;
    position: relative;
    border-radius: 8px!important;
    border: 2px solid rgba(86,90,207,.2);
    transition: all .5s;
    text-align: center;
    bottom: 90px;
   left: 410px;
    
}

.text-center {
    text-align: center!important;
}



.pagination li a:hover{
   color: white;
    background-color: #565acf;
}

.pagination li.active a {
    background-color: #565acf;
    color: #fff;
}

