nav{
    background-color: #ffff;
    width: 100% !important;
    height: auto !important;
    border-radius: 0px !important ;
   
}

nav .navbar-nav{
    margin-top: 10px !important;
   
}
nav .navbar-nav a{
    color: var(--main-color) !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    margin-right: 9px !important ;
    font-size: 19px !important;
    transition: .3s ease all;
    
}
nav .navbar-nav a:hover , nav .navbar-nav a:focus
{
color: #f17732 !important;


}


nav .navbar-nav .active{
   color: #f17732 !important;
   

}
nav .navbar-nav svg.phone{

margin-right: 10px;

}
nav .navbar-nav button{
    background-color: #565acf!important;
    border :1px solid var(--btn-color)!important;
    width: 200px;
    height: 50px;
    color: #ffff;
    text-transform: uppercase;
    font-size: 14px bold !important;
    font-weight: 500;
    margin-top: -10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .navbar-nav button span{
    background-color: #fff !important;
    color: var(--btn-color);
    width: 40px;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
   
}
nav .navbar-nav button button:hover{
    background-color: rgb(90, 90, 202);
    border: 1px solid rgb(90, 90, 202); 
     transition: .3s ease all;
}

.navbar-nav .dropdown-menu {
position: static;
background-color: #fff;
border: 1px solid #fff;
width: 200px !important ;

}
.navbar-nav .dropdown-menu li{
width: 100px;
height: 30px !important;
position: relative;

}
.navbar-nav .dropdown-menu a{
color: #444 ;
font-size: 14px;
line-height: 30px !important;
position: relative;
transition: .3s ease all;

}
.navbar-nav .dropdown-menu a:hover{
    color:var(--btn-color)!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 0px;

}
/*
.navbar-nav .dropdown-menu li::before{
position: absolute;
content: "";
bottom: -5px;
left: 0px;
width: 10px;
height: 4px;
background: var(--main-color);
color: var(--main-color);
}
*/

.navbar-nav .dropdown-menu li:hover a{
color: var(--btn-color);


}

@media only  screen and (max-width : 992px){
    
    nav .navbar-nav .dropdown-menu {
        width: 100% !important;

    } 
   nav .navbar-nav button {
    margin-top: 0px;
    width: 100%;
   } 
    
}
    
    

    